@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.h1-home h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#439cfb, #f187fb);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 2rem 0;
}

#home-background {
    width: 100%;
    height: 100vh;
    background: url("../images/Home/home-bg.jpg") top right;
    background-size: cover;
    position: relative;
}

.container {
    transform-style: preserve-3d;
}

.container .box {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
}

.container .box .body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease;
}



.container .box .body .imgContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.container .box .body .imgContainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box .body .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    border-radius: 100%;
}

.container .box .body .kiet-content {
    background: url('../images/Home/4.png')
}

.container .box .body .tien-content {
    background: url('../images/Home/1.png')
}

.container .box .body .duc-content {
    background: url('../images/Home/2.png')
}

.container .box .body .phuc-content {
    background: url('../images/Home/3.png')
}

.container .box .body .sang-content {
    background: url('../images/Home/5.png')
}

.container .box:hover .body {
    transform: rotateY(180deg);
}

.container .box .body .content div {
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(45deg, #08203e, #557c93);
    transform: translateZ(100px);
}

.container .box .body .content .bg-green {
    background: linear-gradient(45deg, #43c197, #1c1554) !important;
}

.container .box .body .content .bg-red {
    background: linear-gradient(45deg, #ff1b6b, #45caff) !important;
}

.container .box .body .content .bg-blue {
    background: linear-gradient(45deg, #0968e5, #091970) !important;
}

.container .box .body .content .bg-pink {
    background: linear-gradient(45deg, #9d80cb, #f7c2e6) !important;
}

.text-color-tien {
    color: #210cae;
}

.text-kiet {
    color: #f7f779;
}

.text-sang {
    color: #f9bc2c;
}

.text-phuc {
    color: #fff;
    text-decoration: underline;
}

.container .box .body .content div h3 {
    letter-spacing: 1px;
}